# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/.DS_Store
client/dist
client/dist-ssr
client/coverage
client/*.local

# Editor directories and files
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

client/*.tsbuildinfo

client/.eslintcache

# Cypress
client/cypress/videos/
client/cypress/screenshots/

# Vitest
client/__screenshots__/

client/test-results/
client/playwright-report/

.claude
# Ignore key files for decrypting credentials and more.
/config/*.key

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
*.mmdb

# Vite Ruby
/public/vite*
node_modules
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local

